@font-face {
  font-family: 'Fanwood';
  src: url('assets/fonts/fanwood-webfont.woff') format('woff');
}

a:-webkit-any-link{
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0 auto;
  background-color: #000;
  color: #FFF;
}

#container {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidetext {
  display: flex;
  align-items: flex-end;
  flex: 1;
  height: 100%;
  padding-bottom: 20vh;
  font-family: 'Fanwood', serif;
}

#_1{
  justify-content: flex-end;
  font-size: 1.3vw;
  font-style: oblique;
  letter-spacing: 0.1em;
}

#_2{
  justify-content: center;
  font-size: 3vw;
  font-weight: 800;
}

#content {
  font-family: 'Fanwood', serif;
  font-size: 4vw;
  flex: 8;
}

#vertical {
  transform: rotate(270deg);
}

button {
  color: blue;
  all: unset;
  transition: all 400ms ease;
}

button:hover {
  transform: rotate(20deg) scale(1.1);
}
